.vscode/
node_modules/
package-lock.json
.github/

# environment and secret files
.env
databaseCredentials.json

static/config.js
.vercel



Resend API Key: re_QhZrVoGb_4wBg6ok4siEJjzno3EZt7w18

Edge Function Endpoint: https://xbrndlhzaluksjhdbnur.supabase.co/functions/v1/send-finalist-emails